h2 {
  font-family: "Copperplate";
  text-align: center;
}
.category-summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.recipes {
  display: grid;
  grid-template-columns: auto auto auto;
}

.recipe-list-items {
  border: solid 5px rgb(188, 223, 182);
  height: 300px;
  width: 300px;
  padding: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(193, 226, 185);
}
.recipe-list-items p {
  margin: 5px;
}
.recipe-list-items img {
  height: 150px;
  width: 150px;
  border-radius: 12px;
}

@media screen and (max-width: 280px) {
  h1 {
    font-family: "Copperplate";
    font-size: 25px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px -5px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 320px) and (min-width: 281px) {
  h1 {
    font-family: "Copperplate";
    font-size: 25px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px 5px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 360px) and (min-width: 321px) {
  h1 {
    font-family: "Copperplate";
    font-size: 25px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px 37px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 375px) and (min-width: 361px) {
  h1 {
    font-family: "Copperplate";
    font-size: 25px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px 37px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 411px) and (min-width: 376px) {
  h1 {
    font-family: "Copperplate";
    font-size: 30px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px 50px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 414px) and (min-width: 412px) {
  h1 {
    font-family: "Copperplate";
    font-size: 40px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px 50px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 540px) and (min-width: 415px) {
  h1 {
    font-family: "Copperplate";
    font-size: 40px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px 100px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  h1 {
    font-family: "Copperplate";
    font-size: 50px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 10px 0 10px -10px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  h1 {
    font-family: "Copperplate";
    font-size: 55px;
    text-align: center;
    margin: 10px 20px 10px 30px;
  }
  .category-summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 10px 20px 10px 30px;
  }

  .recipes {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .recipe-list-items {
    border: solid 5px rgb(188, 223, 182);
    height: 250px;
    width: 230px;
    padding: 25px;
    margin: 30px 0 10px 30px;
    display: flex;
    align-items: center;
    background-color: rgb(193, 226, 185);
  }
  .recipe-list-items p {
    margin: 5px;
  }
  .recipe-list-items img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
  }
}
