h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.category-summary {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.recipe {
    display: grid;
    grid-template-columns: auto auto auto;
}

.recipeList {
  border: solid 5px rgb(188, 223, 182);
  height: 300px;
  width: 300px;
  padding: 50px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(193, 226, 185);
}
.recipeList p {
  margin: 5px;
}
.recipeList img {
  height: 150px;
  width: 150px;
}
