.heading {
  display: grid;
  grid-template-columns: auto auto;
}
.lists {
  margin-top: 40px;
  text-indent: 50px;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 40px;
  font-size: 20px;
}
.recipe-title {
  font-family: "Copperplate";
  margin-bottom: 30px;
}
.recipe-image {
  height: 500px;
  width: 500px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-top: -40px;
}
#summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: rgb(52, 59, 59);
  margin-left: 30px;
  width: 100px;
  color: white;
  border-radius: 50%;
}

@media screen and (max-width: 280px) {
  .heading {
    display: grid;
    font-size: 50px;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 30px;
  }
  .recipe-image {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-top: -40px;
  }
  .summaryHeading {
    margin-top: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) and (min-width: 281px) {
  .heading {
    display: grid;
    font-size: 50px;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 10px;
  }
  .recipe-image {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: -40px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 360px) and (min-width: 321px) {
  .heading {
    display: grid;
    font-size: 50px;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 30px;
  }
  .recipe-image {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-top: -40px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) and (min-width: 361px) {
  .heading {
    display: grid;
    font-size: 50px;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 30px;
  }
  .recipe-image {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-top: -40px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 411px) and (min-width: 376px) {
  .heading {
    display: grid;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 10px;
    font-size: 40px;
  }
  .recipe-image {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-top: -40px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 414px) and (min-width: 412px) {
  .heading {
    display: grid;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 10px;
    font-size: 40px;
  }
  .recipe-image {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-top: -40px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) and (min-width: 415px) {
  .heading {
    display: grid;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 10px;
    font-size: 40px;
  }
  .recipe-image {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-top: -40px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  .heading {
    display: grid;
    grid-template-columns: auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 10px;
    font-size: 50px;
  }
  .recipe-image {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-top: -10px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .heading {
    display: grid;
    grid-template-columns: auto auto;
  }
  .lists {
    margin-top: 40px;
    text-indent: 50px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 25px;
  }
  .recipe-title {
    font-family: "Copperplate";
    margin-bottom: 30px;
  }
  .recipe-image {
    height: 500px;
    width: 500px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-top: 400px;
  }
  #summary {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  button {
    background-color: rgb(52, 59, 59);
    margin-left: 30px;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 50%;
    font-size: 25px;
  }
}
